@import (reference) "constants";

@keyframes explosion {
  from {
    background: @snoosprite 0 0;
  }
  to {
    background: @snoosprite  -2112px 0;
  }
}

// preload
#header-img-a {
  &:before {
    content: ' ';
    background: @snoosprite -2112px 0;
  }
}

#header-img-a:hover {

  #header-img {
    visibility: hidden;
    height: 0; //firefox fix
  }

  @expduration: 500ms;
  @expdelay: 100ms;
  @biskymodedelay: @expdelay + (@expduration *0.8);

  //
  &:before {
    content: ' ';
    background: @snoosprite -2112px 0;
    width: 120px;
    height: 120px;
    //margin-left: -44px;
    margin-top: -17px;
    left: -16px;
    position: absolute;
    display: inline-block;
    opacity: 1;
    animation: fadeIn linear @biskymodedelay 100ms both;

  }
  &:after {
    position: absolute;
    display: inline-block;
    content: ' ';
    background: @snoosprite;
    width: 132px;
    height: 132px;
    margin-top: 27px;

    opacity: 1;
    left: -22px;
    top: -45px;

    animation: explosion @expduration @expdelay steps(16) forwards,
    fadeIn 10ms (@expdelay + @expduration)  reverse forwards;

  }
}

//
