@import (reference) "constants";
@import "subreddits-bar";
@import "banner";
@import "animations/main";
@import "animations/submit-page";
@import "animations/easter-egg";
@import "animations/mail";
@import "animations/votes";
@import "users";
@import "spoiler-tags";
@import "res-tweaks";
@import "sidebar";
@import "announcement";
@import "mod-stuff";
@import "flairs";
@import "users-custom";
@import "linkflairs";
@import "wiki";
@import "submit-page";
@import "submissions";
@import "comments";
@import "search-page";
@import "res-nightmode";

body {
  background-color: @defaultBackgroundColor;
  overflow-x: hidden;
}

&::selection {
  color: #ffffff;
  background-color: @defaultSelecionColor;
}

.debuginfo {
  display: none;
}

.footer-parent {
  padding-top: 80px;
  padding-bottom: 560px;
  text-align: center;
  width: 100%;
  background: @bottomImage no-repeat bottom center;
  margin-bottom: -1px;
  .footer {
    box-shadow: @defaultBoxShadow;
    background: white;
    border-radius: @defaultBorderRadius;
  }
}

body:not(.submit-page) .side ~ .content {
  //sidebar width+ sidebar padding +10px margin
  margin-right: @sidebarWidth + (@sidebarPadding*2)+10px !important;
}

// temporary fix for snoo positioning
#header-img {
  margin-top: -7px;
}