@import (reference) "constants";

.thing.stickied.link a.title {
  color: @stickyTextColor;
  font-weight: normal;

}

.content {
  margin-left: 10px;
}

.comments-page {
  .link {
    .usertext-body {
      padding-left: 20px;
      padding-right: 30px;
      .md {
        border-radius: @defaultBorderRadius;
        width: 100%;
        max-width: 100%;
      }
    }
    .RES-keyNav-activeElement, .RES-keyNav-activeElement .md-container {
      background-color: transparent !important;
    }
  }
}

.link .title {
  color: @linkColor;
  &:visited {
    color: @linkColorVisited;
  }
}

.linklisting {
  box-shadow: @defaultBoxShadow;
  .thing {
    padding: 0 !important;
    margin-bottom: 0 !important;
    border-radius: @defaultBorderRadius;
    background: @cardBackgroundColor;
    border-bottom: solid 1px #eeeeee;
    //  border-radius: 3px;
    position: relative;
    overflow: visible;
    .rank {
      display: none;
    }
    .entry {
      vertical-align: middle;
      border-radius: @defaultBorderRadius;
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      border-right: solid 6px transparent;
      transition: border-color 200ms;
      &.RES-keyNav-activeElement {
        border-color: @activeElementColor;
        background-color: transparent !important;
        .usertext-body {
          background-color: transparent !important;
        }
      }
    }
    &:not(:first-child), &:not(:first-child) .entry {
      border-radius: 0;
    }
    &:first-child, &:first-child .entry {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .domain {
    margin-left: 0;
  }
  .self {
    .domain {
      display: none;
    }
  }
}

.link {
  position: relative;
  .entry {
    margin-left: 40px !important;
    padding-top: 7px !important;
  }
  &.last-clicked {
    overflow: visible !important;
  }
}

.thing .thumbnail {
  margin-left: -80px;
}

//.listing-page, div[role=main] {
//  .thing.link:first-child {
//    .thumbnail {
//      min-height: 70px !important;
//    }
//    .midcol {
//      margin-top: 15px !important;
//    }
//  }
//}

.thumbnail {
  position: relative !important;
  //display: inline-block;
  //overflow: visible;
  min-height: 96px;
  img, &:after {
    border-radius: @defaultBorderRadius;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: @defaultBoxShadow;
    }
  }

  &.self, &.nsfw, &.spoiler, &.default {
    visibility: hidden;
    &:after {
      content: "";
      opacity: 0.6;
      display: block;
      width: 70px;
      height: 70px;
      visibility: visible;
    }
  }
  &.default:after, &.self:after {
    background: @selfPostThumb no-repeat;
  }
  &.nsfw {
    padding-bottom: 0;
    &:after {
      background: @selfPostThumb no-repeat;
    }
  }
  &.spoiler {
    &:after {
      background: @spoilerPostThumb no-repeat;
    }
  }

}

.search-page {
  .thumbnail {
    position: relative;
  }
}

.thing {
  position: relative;
  //overflow: visible;
  .newComments {
    color: @newCommentsColor;
  }
  &.stickied {
    .stickied-tagline {
      display: none;
    }

  }
  .score.likes {
    color: dodgerblue;
  }

  .entry {
    overflow: visible;
    margin-left: 18px;
  }

  &.link {
    .midcol {
      margin: 25px 85px auto 15px;
    }
  }
}