@import (reference) "users";

a.author, a.userTagged {
  &:hover {
    text-decoration: none;
  }
}

a.author[href$="/F_G_E_S"],
a.userTagged[href$="/F_G_E_S"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 12px !important;
    background-color: @blue;
    border: 2px solid @blue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 50px 0;
    color: #ffff00*.9;
    text-shadow: 3px 3px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-weight: bold !important;
    content: "  Rat Zodiac FGES "
  }
}

a.author[href$="/AutoModerator"],
a.userTagged[href$="/AutoModerator"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    padding-left: 4px;
    padding-right: 4px;
    visibility: visible;
    font-size: 14px !important;
    background-color: @oneStarBG;
    border: 2px solid @darkerRed;
    border-radius: @defaultBorderRadius;
    margin: 0 0 50px 0;
    color: @oneStarColor;
    font-family: georgia, serif;
    font-weight: normal !important;
    content: "  Sheep Zodiac Milluki Zoldyck "
  }
}

a.author[href$="/TruthTaco"],
a.userTagged[href$="/TruthTaco"] {
  visibility: hidden;
  font-size: 0;

  &:before {
    visibility: visible;
    margin: 0 0 50px 0;
    color: white;
    font-size: 12px !important;
    background-color: @teal;
    border: 1px solid @darkerTeal;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: georgia, serif;
    font-weight: bold !important;
    content: ' Boar Zodiac TruthTaco ';
  }
}

a.author[href$="/HunterBot"],
a.userTagged[href$="/HunterBot"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:after {
    visibility: visible;
    font-size: 16px !important;
    background-color: black;
    border: 1px solid #aaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 0 50px 0;
    color: white;
    font-family: georgia, serif;
    text-shadow: 3px 3px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-weight: normal !important;
    content: "  Chad from Accounting  "
  }
}

a.author[href$="/YonkouProductions"],
a.userTagged[href$="/YonkouProductions"] {
  visibility: hidden;
  font-size: 0;
  &:before {
    visibility: visible;
    font-size: 12px !important;
    background-color: @purple;
    border: 1px solid @darkerPurple;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 50px 0;
    color: white;
    text-shadow: 0.5px 0.5px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: georgia, serif;
    font-weight: bold !important;
    content: ' Rabbit Zodiac Yonkou ';
  }

  &:after {
    visibility: visible;
    font-size: 12px !important;
    background-color: transparent;
    color: @green;
    font-family: PalatinoLinotype, serif;
    font-weight: bold !important;
    content: " Literally Meruem  "
  }
}

a.author[href$="/thelongestlurker"]:after,
a.userTagged[href$="/thelongestlurker"]:after {
  visibility: visible;
  font-size: 14px !important;
  background-color: transparent;
  color: #FF7519;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
  content: " ink hunter "
}

a.author[href$="/pitouxpitou"]:after,
a.userTagged[href$="/pitouxpitou"]:after {
  visibility: visible;
  font-size: 14px !important;
  background-color: transparent;
  color: #990066;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold !important;
  content: " <3 meow ~  "
}

a.author[href$="/Di_Bello"],
a.userTagged[href$="/Di_Bello"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 12px !important;
    background-color: #cc0000;
    border: 1px solid @darkerRed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 50px 0;
    color: white;
    text-shadow: 0.5px 0.5px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: georgia, serif;
    font-weight: bold !important;
    content: " Dragon Zodiac Di Bello "
  }
  &::after {
    visibility: visible;
    font-size: 12px !important;
    background-color: transparent;
    color: gray;
    font-family: PalatinoLinotype, serif;
    font-weight: bold !important;
    content: " Terrorist Hunter  "
  }
}

a.author[href$="/screwbacca"],
a.userTagged[href$="/screwbacca"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 12px !important;
    color: white;
    text-shadow: 1px 1px 0 @teal,-1px -1px 0 @teal,1px -1px 0 @teal, -1px 1px 0 @teal;
    font-weight: bold !important;
    content: "Rooster Zodiac Bacca"
  }
}

a.author[href$="/Whiterhino123"],
a.userTagged[href$="/Whiterhino123"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 14px !important;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 50px 0;
    color: #FF00FF;
    font-family: georgia, sans-serif;
    font-weight: normal !important;
    content: " Le trollerino "
  }
}

a.author[href$="/FlyingGoatee"],
a.userTagged[href$="/FlyingGoatee"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 12px !important;
    background-color: @orange;
    border: 1px solid @darkerOrange;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 50px 0;
    color: white;
    text-shadow: 0.5px 0.5px 0 #000000,-1px -1px 0 #000000,1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-family: georgia, sans-serif;
    font-weight: bold !important;
    content: " Tiger Zodiac FlyingGoatee "
  }
}

a.userTagged[href$="/Aloss"]:before,
a.author[href$="/Aloss"]:before {
  visibility: visible;
  font-size: 12px !important;
  background-color: transparent;
  margin: 0 0 50px 0;
  color: green;
  font-family: georgia, sans-serif;
}

a.author[href$="/rentzhx3"],
a.userTagged[href$="/rentzhx3"] {
  visibility: hidden;
  font-size: 0;
  content: "";
  &:before {
    visibility: visible;
    font-size: 12px !important;
    color: white;
    text-shadow: 1px 1px 0 black,-1px -1px 0 black,1px -1px 0 black, -1px 1px 0 black;
    font-weight: bold !important;
    content: "Ox Zodiac Rentz-HX3"
  }
}

a.author[href$="/JetsLag"]:after,
a.userTagged[href$="/JetsLag"]:after {
  visibility: visible;
  font-size: 10px !important;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  text-shadow: 0.5px 0.5px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  font-style: italic;
  content: " Rewatch Hunter"
}